---
- hosts: kubernetes-worker-nodes
  vars_files:
  - env_variables_centos
  tasks:
  - name: Copying token to worker nodes
    copy: src={{ token_file }} dest=join_token

  - name: Joining worker nodes with kubernetes master
    shell: "grep -i -A2 'kubeadm join' join_token|bash"

